<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Page</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="icon" href="images/NSFavicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body class="chd">
    <h3>About Chandigarh</h3>
    <p>Chandigarh, also called 'The Beautiful City', is a city in India. It is a union territory, because it is the capital of two states: Punjab and Haryana. As a territory it does not belong to either state. Before 1 November,1966 it was capital of Punjab, but after formation of Haryana on 1 November, 1966 it become a union territory.There are many tourism places in Chandigarh like Rock garden, Rose garden and Sukhna lake.<a href="/">back</a></p>
    
</body>
</html>