<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BootStrap</title>
    <link rel="stylesheet" href="css/style1.css"/>
    <script src="https://kit.fontawesome.com/8925054319.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/NSFavicon.ico"/>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <section id="Title">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href=" ">tindog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href=" ">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" ">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" ">Download</a>
            </li>
        </ul>
        </div>
    </nav>
        <div class="row">
            <div class="col-lg-6">
                <h1>Meet new and interesting dogs nearby</h1>
                <button type="button" class="btn btn-dark btn-lg"><i class="fa-brands fa-apple"></i>Download</button>
                <button type="button" class="btn btn-outline-light btn-lg"><i class="fa-brands fa-google-play"></i>Download</button>

            </div>
            <div class="col-lg-6">
                <img class="dogImage" src="images/Dog-Image.png" alt="Dog-Image">
            </div>
                     
        </div>
    </div>
    </section>
    <section class="mid-section">
        <div class="row">
            <div class="col-lg-4">
                <i class="icon fa-solid fa-circle-check fa-4x"></i>
                <h3>Easy to use</h3>
                <p>So easy, even your dog can do it</p>
            </div>
            <div class="col-lg-4">
                <i class="icon fa-solid fa-bullseye fa-4x"></i>
                <h3>Elite Clientele</h3>
                <p>We have all the dogs, the geatest dogs</p>
            </div>
            <div class="col-lg-4">
                <i class="icon fa-solid fa-heart fa-4x"></i>
                <h3>Guaranteed to work</h3>
                <p>Find the love of your dog's life, or money back</p>
            </div>
                     
        </div>
     
        
    </section>
    <section id="testimonial">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h3>I no longer have to sniff other dogs for love, I have found hottest Corgi on Tindog. Woo!</h3>
                <img class="testimonial-image" src="images/Dog-Image.png" alt="Dog-Image">
                <em>Pebbles, New York</em>
              </div>
              <div class="carousel-item">
                <h3>My dog used to be so lonely, with Tindog's help it has found a company. Woo!</h3>
                <img class="testimonial-image" src="images/Dog-Image2.png" alt="Dog-Image2">
                <em>Beverly, Illinois</em>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" ></span>
             </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        
    </section>
    <Section id="Pricing">
        <h3>A plan for every dog's need</h3>
        <p>Simple and affordable plans for you & your Dog</p>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Chihuahua</h3>
                    </div>
                    <div class="card-body">
                        <h3>Free</h3>
                        <p>5 matches per day</p>
                        <p>10 messages per day</p>
                        <p>unlimited App use</p>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="button">Signup</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Labrador</h3>
                    </div>
                    <div class="card-body">
                        <h3>$49/month</h3>
                        <p>unlimited matches</p>
                        <p>unlimited messages</p>
                        <p>unlimited App use</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">Signup</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Mastiff</h3>
                    </div>
                    <div class="card-body">
                        <h3>$99/month</h3>
                        <p>Priority Listing</p>
                        <p>unlimited matches</p>
                        <p>unlimited messages</p>
                        <p>unlimited App use</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">Signup</button>
                    </div>
                </div>
            </div>

        </div>

    </Section>
</body>
</html>