body {
    margin: 0;
    text-align: center;
    font-family: merriweather, sans-serif;
 }
 .Iam {
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: sacramento, sans-serif;
    color: #66BFBF;
    font-size: 4rem;
    font-weight: lighter;
 }
 .who {
     text-align: center;
     font-size: 1.5rem;
     font-weight: normal;
     color: #66BFBF;
     margin-top: 0;
  }
 .top-container {
     background-color: #E4F9F5;
     padding-top: 120px;
     padding-bottom: 10px;
     z-index: 0;
 }
 
 .top-cloud {
     position: absolute;
     top: 70px;
     right: 300px;
 }
 .bottom-cloud {
     position: absolute;
     left: 200px;
     bottom: 400px;
 }
 .mountain {
     width: 30%;
 }
 .ns-photo {
     width: 12%;
     position: absolute;
     right: 50px;
     bottom: 400px;
     border-radius: 50%;
 }
 #mid-container {
     width: 80%;
     margin: auto;
     text-align: left; 
     color: #66BFBF;  
 }
 .skill-langs {
    font-size: 20px;
    margin-top: 40px;
 }
 .skills {
     border-radius: 50%;
     float: left;
     margin-right: 20px;
     margin-top: 0px;
     width: 150px;
 }
 .mid-h3 {
    float: left;
    margin-top: 40px;
    margin-right: 50px;
 }
 .weatherDetails ul li {
 
     list-style-type: none;
     
 }
 #question-block {
   display: none;
}
#Title {
    background-color: #66BFBF;
    height: 60px;
   
}
.container-fluid {
    
}
h1 {
    color: white;
    font-weight: bolder;
}
.navbar {
    padding-bottom: 10rem;
}
.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0
}
.city-image {
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    width: 200px;
    height: 190px;
}
.weatherImage {
    width: 40px;
}
#third-container {
    width: 80%;
    margin: auto;
    text-align: left; 
    color: #ff4c68;  
    
}
.myCity {
   float: left;
    margin: 70px 50px 70px 0px;
    
 }
 #fourth-container {
   
    margin: auto;
    text-align: left; 
    color: #66BFBF;  
    background-color: #E4F9F5;
}
.yrCity {
    float: left;
    margin-right: 40px;
    margin-left: 120px;
     
  }
.yrCity1 {
    float: left;
    margin: 40px 40px 40px 120px;
   
     
  }
  .yrCity2 {
    float: left;
    margin: 20px 40px 0px 120px
        
  }
  #DB-container {
   
    margin: auto;
    text-align: left; 
    color: #66BFBF;  
    background-color: #E4F9F5;
  }
  .quiz {
    float: left;
    margin: 0px 25px 0px 120px
        
  }
 
 #Add-questions {  
    margin: auto;
    text-align: left; 
    color: #ff4c68;  
  }
  .add-question {
    float: left;
    margin: 30px 25px 40px 120px
        
  }
#quiz-button {
    height: 30px;
    margin-bottom: 3px;
    --bs-btn-font-size: .75rem;
    --bs-btn-margin-bottom: 20px;
}
  