body {
    margin: 0;
    text-align: center;
    font-family: merriweather, sans-serif;
 }
 .Iam {
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: sacramento, sans-serif;
    color: #66BFBF;
    font-size: 4rem;
    font-weight: lighter;
 }
 .who {
     text-align: center;
     font-size: 1.5rem;
     font-weight: normal;
     color: #66BFBF;
     margin-top: 0;
  }
 .top-container {
     background-color: #E4F9F5;
     padding-top: 120px;
     padding-bottom: 10px;
     z-index: 0;
 }
 
 .top-cloud {
     position: absolute;
     top: 70px;
     right: 300px;
 }
 .bottom-cloud {
     position: absolute;
     left: 200px;
     bottom: 400px;
 }

 .ns-photo {
     width: 12%;
     position: absolute;
     right: 50px;
     bottom: 400px;
     border-radius: 50%;
 }
 #mid-container {
     width: 80%;
     margin: auto;
     padding-top: 20px;
     text-align: left; 
     color: #66BFBF;  
 }
 .skill-langs {
    font-size: 20px;
    margin-top: 40px;
 }
 .skills {
     border-radius: 50%;
     /*float: left;
     margin-right: 150px;*/
     margin-top: 0px;
     width: 150px;
 }
 .mid-h4 {
    float: left;
    margin-top: 40px;
    margin-right: 50px;
 }
 .weatherDetails ul li {
 
     list-style-type: none;
     
 }
 #question-block {
   display: none;
}
#Title {
    background-color: #66BFBF;
    height: 60px;
  
}
.container-fluid {
    
}
h1 {
    color: white;
    font-weight: bolder;
}
.navbar {
    padding-bottom: 10rem;
}
.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0
}
.city-image {
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    width: 200px;
    height: 190px;
}
.weatherImage {
    width: 40px;
}
#third-container {
    width: 80%;
    margin: auto;
    text-align: left; 
    color: #ff4c68;  
    
}
.myCity {
   float: left;
    margin: 70px 50px 70px 0px;
    
 }
 #fourth-container {
   
    margin: auto;
    text-align: left; 
    color: #66BFBF;  
    background-color: #E4F9F5;
}
.yrCity {
    
    margin-right: 0px;
    margin-left: 110px;
     
  }
.yrCity1 {
    
    margin-right: 0px;
    margin-left: 110px;     
  }
  .yrCity2 {
    float: left;
    margin: 20px 40px 0px 120px
        
  }
 
  #DB-container {
   
    margin: auto;
    text-align: left; 
    color: #66BFBF;  
    background-color: #E4F9F5;
  }
  .quiz {
    float: left;
    margin: 0px 0px 0px 110px
        
  }
 
 #Add-questions {  
    margin: auto;
    text-align: left; 
    color: #ff4c68;  
  }
  .add-question {
    float: left;
    margin: 30px 70px 40px 120px
        
  }
#quiz-button {
    height: 30px;
    margin-bottom: 3px;
    --bs-btn-font-size: .75rem;
    --bs-btn-margin-bottom: 20px;
}
#chd {
    padding: 120px 50px 50px 50px;
    text-align: center; 
    color: #66BFBF;  
    background-color: #E4F9F5;
}
#quiz {
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center; 
    color: #66BFBF;  
    background-color: #E4F9F5;
}

@media screen and (max-width : 560px) {
    .top-container {
        padding-bottom: 50px;
       
    }
    
    .top-cloud {
        top: 70px;
        right: 70px;
    }
    .bottom-cloud {
        left: 70px;
        bottom: 400px;
    }
   
    .ns-photo {
        width: 20%;
        right: 50px;
        bottom: 370px;
       
    }
    .Iam {
        margin: 20px auto 0 auto;
        font-size: 3rem;
}
.who {
    font-size: 1.2rem;
    margin-bottom: 50px;
 }
 .mid-h4 {
    margin-left: 100px;
    margin-bottom: 20px;
 }
 .weatherDetails { 
 margin-left: 0px;   
}
#third-container, #fourth-container, #mid-container {
   margin-left: 0px ;
   width: 100%;
}
.top-container {
    width: 100%;
}
.myCity {
   margin: 0px 30px 20px 70px;
     
  }
 .skill-langs {
    margin-left: 10px;
      
   }
   .skills {
    margin-left: 70px;
      
   }
   .city-image {
    margin-right: 80px;
      
   }
   .questions {
    margin-left: 15px;
      
   }

}
  